<h1>Add a new artist:</h1>
<%= form_for(@artist) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :birthday %>
<%= f.text_field :birthday %>
<%= f.label :artistpicture %>
<br>
<br>
<%= f.file_field :artistpicture %>
<br>
<br>
<br>
<%= f.submit "Submit Artist", :class => "btn btn-primary btn-lg green darken-1"%>
<% end %>
