<div class="artist">
  <h1>Artist name:
    <%= @artist.name %></h1>
  <p>Birthday:
    <%= @artist.birthday %></p>
    <span class="btn btn-default grey lighten-5"><%= link_to "Back", root_path %></span> <span class="btn btn-default grey lighten-5"><%= link_to "Edit", edit_artist_path(@artist) %></span> <span class="btn btn-default grey lighten-5"><%= link_to "Destroy", artist_path(@artist), method: :delete %></span>
</div>
  <br>
  <h2>All Songs by <%= @artist.name %></h2>
  <br>
  <div class="row">
    <% @artist.songs.each do |song| %>
      <div class="col col s12 m6 l4">
        <article class="card-panel hoverable">
          <p><h3><%= link_to song.title, song%></h3></p>
          <p>Release date:
            <%= song.release_date %></p>
          <p>Album:
            <%= song.album %></p>
          <p>Song by:
            <%= song.artist.name %></p>
          <!--  <p>Song by: <%= link_to song.artist.name, @artist_path %></p> -->
          <span class="grey lighten-5"><%= link_to "Back", root_path %></span>  |  <span class="grey lighten-5"><%= link_to "Edit", edit_song_path(song) %></span>  |  <span class="red lighten-5"><%= link_to "Destroy", song_path(song), method: :delete %></span>
        </article>
          </div>
        <% end %>

<br>
<br>
