<article class="artist">
  <h1>Artist name: <%= @artist.name %></h1>
  <p>Birthday: <%= @artist.birthday %></p>

<p><% @artist.songs.each do |s| %>
  <h1>Song name:<%= link_to s.title, s%></h1>
  <p>Release date:<%= s.release_date %></p>
  <p>Album:<%= s.album %></p>
  <p>Artist id (insignificant for the user :P)<%= s.artist_id %></p>
<% end %>

<p class="navigation">
    <span class="btn btn-default"><%= link_to "Back", root_path %></span>
    <span class="btn btn-default"><%= link_to "Edit", edit_artist_path(@artist) %></span>
    <span class="btn btn-default"><%= link_to "Destroy", artist_path(@artist), method: :delete %></span>
  </p>
</article>
