<h1>Add a new song:</h1>
<%= form_for(@song) do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :release_date %>
<%= f.text_field :release_date %>
<%= f.label :songfile %>
<br>
<br>
<br>
<%= f.file_field :songfile %>
<br>
<br>
<br>
<%= f.label :album_id %>
<%= f.collection_select :album_id, Album.all, :id, :album_title, prompt: true %>
<br>
<br>
<%= f.label :artist_id %>
<%= f.collection_select :artist_id, Artist.all, :id, :name, prompt: true %>
<br>
<br>
<br>
<%= f.submit "Add New Song", :class => "btn btn-primary btn-lg green darken-1"%>
<% end %>
