<article class="song">
  <h1><%= @song.title %></h1>
  <p>Release Date: <%= @song.release_date %></p>
  <p>Album: <%= @song.album %></p>
  <p>Song File: <%= image_tag @song.songfile %></p>
  <!-- <p>See more songs by <%= link_to @song.artist.name, artist_path %></p> -->
  <p>See more songs by <%= link_to @song.artist.name, artist_path(@song.artist) %></p>


  <p class="navigation">
      <span class="btn btn-default grey lighten-5"><%= link_to "Back", root_path %></span>
      <span class="btn btn-default grey lighten-5"><%= link_to "Edit", edit_song_path(@song) %></span>
      <span class="btn btn-default grey lighten-5"><%= link_to "Destroy", song_path(@song), method: :delete %></span>
    </p>
  </article>
  
