<!DOCTYPE html>
<html>
  <head>
    <title>Music Liby</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><i class="fa fa-music"></i>usic Liby</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if Artist.exists? %>
        <li><%= link_to "Artists", artists_path %></li>
        <% end %>
        <% if Song.exists? %>
        <li><%= link_to "Songs", songs_path %></li>
        <% end %>



        <% if user_signed_in? %>
        <li>
          <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
        <% end %>
        <% if user_signed_in? %>
        <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
      <% else %>
        <li>
          <%= link_to('Register', new_user_registration_path)  %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <body class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>

    <%= yield %>
</body>
</html>
